body 
{
    margin:0;
    padding:0;
    background-color:#cefdd5;
    /*overflow-x:hidden;*/
}

#content
{
    display:block;
    padding:0px 10px 10px 10px;
    margin:0;
}

a { text-decoration:none; }

#content ul.nav
{
    list-style:none;
    padding:0;
    margin:0;
}

#content ul.nav li
{
    display:block;
    margin-bottom:15px;
    padding:0px;
    border-radius:5px;
    box-shadow: 3px 3px 2px #888888;
    background-color:#7EBB4E;
}

#content ul.nav li.add
{
    background: #7EBB4E url('../images/add.png') no-repeat;
    background-position:8px 7px;
}

#content ul.nav li.view
{
    background: #7EBB4E url('../images/view.png') no-repeat;
    background-position:8px 7px;
}

#content ul.nav li.close
{
    background: #7EBB4E url('../images/delete.png') no-repeat;
    background-position:8px 7px;
}

#content ul.nav li a
{
    display:block;
    padding:12px 14px 12px 50px;
    text-transform:uppercase;
    font-size:14pt;
    border-radius:5px;
    color:#fff;
}

h1
{
    display:block;
    background-color:#000;
    margin:0 0 10px 0;
    padding:15px 0 15px 0;
    color:#fff;
    text-align:center;
    border-bottom:solid 1px #FEE318;
    position:fixed;
    width:100%;
    top:0;
}

h2 
{
    text-transform:uppercase;
    color:#7EBB4E;
    margin:10px 0 0 0;
}

h4
{
    margin:0px;
    color:#D54937;
    margin:10px 0 5px 0;
    font-size:16pt;
}

input[type=button]
{
    background-color: #7EBB4E;
    border: medium none;
    color: #FFFFFF;
    font-weight: bold;
    letter-spacing: 1px;
    margin: 10px 10px 10px 0;
    padding: 8px 5px;
}

.field
{
    display:block;
    border:solid 1px #b1beb3;
    padding:10px;
    width:100%;
    font-size:16pt;
    margin-right:10px!important;
}

select { padding:10px!important; }

.result
{
    display:none;
    font-size:16pt;
}

footer
{
    display:block;
    margin-top:20px;
    padding:10px;
}

footer a 
{
    color:blue;
    text-decoration:none;
}

.balance
{
    display:block;
    font-size:16pt;
    background-color:#000;
    color:#fff;
    padding:20px 12px 20px 48px;
    font-weight:bold;
    margin:15px 0 20px 0;
    text-transform:uppercase;
    letter-spacing:1px;
    border-radius:5px;
    box-shadow: 3px 3px 2px #888888;
    border:solid 1px #fff;

}

table
{
    width:100%;
    border-spacing:0;
    border-collapse:collapse;
    margin-top:10px;
}

table tr
{
}

table tr th
{
    background-color:#7EBB4E;
    color:#fff;
    padding:5px;
    text-align:left;
}

table tr th.action, table tr td.action { width:35px!important; padding-left:10px; }
table tr td.action img {margin-bottom:-4px;}

table tr th.date, table tr td.date { width:15%; text-align:right; padding-right:15px; }

table tr th.hours { width:15%; text-align:right; }

table tr th.amount { width:15%; text-align:right; }

table tr td { padding:5px; }

table tr td.left { text-align:left; }

table tr td.right { text-align:right; }

.bgcolor0 { background-color:#fff; }

.bgcolor1 { background-color:Gray; }

.button
{
    margin-top:25px;
    text-transform:uppercase;
}

#transaction
{
    display:none;
}

#transaction.active
{
    border:dashed 1px red;
    padding:10px;
    margin-bottom:15px;
}

.stop
{
    background-color:Red!important;
    font-weight:bold;
}

.error
{
    display:block;
    margin:10px 0 10px 0;
    color:red;
    background-color:#fff;
    padding:10px;
}

.required { color:red; }

.go-back { color:#58A80A; font-size:16pt; }

.go-back img { height:25px; margin-bottom:-6px; }

#ads { display:block; margin-top:50px; text-align:center; }

option {padding:10px;}